// layoutWrapper.scss

.layout-wrapper {
  min-height: 100vh;
  overflow-x: hidden;

  .row {
    min-height: calc(100vh - 56px); // Adjusted height for the header
    overflow-x: hidden;

    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 1100;
      overflow-y: auto;
      width: 280px;
      transition: width 0.3s ease;

      &.collapsed {
        width: 0;
      }

      @media (max-width: 767px) {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
      }
    }

    .content {
      position: relative;
      margin-left: 280px;
      transition: margin-left 0.3s ease;

      @media (max-width: 767px) {
        margin-left: 0;
      }
    }
  }
}
